@using Model.ViewModels.OrderCommodityViewModels
@model IEnumerable<OrderCommodityViewModel>
@{
}
<div class="container">

    <h1>Your OrderCommodities List list</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-md-3">
                    @Html.DisplayNameFor(model => model.CommodityName)
                </th>
                <th scope="col" class="col-md-3">
                    @Html.DisplayNameFor(model => model.IsConfirmeds)
                </th>
                <th scope="col" class="col-md-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommodityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConfirmeds)
                </td>
                @if (item.IsConfirmeds)
                {
                    <td>
                        |
                        <a class="btn btn-success" asp-action="Conirm"><em class="glyphicon glyphicon-check"></em></a> |
                        <a class="btn btn-danger" asp-action="Delete"><em class="glyphicon glyphicon-trash"></em></a>
                    </td>
                }
                else
                {
                    <td>   
                        <a class="btn btn-danger" asp-action="Delete"><em class="glyphicon glyphicon-trash"></em></a>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>

</div>