@using Model.ViewModels.CommodityViewModels;
@model CommodityViewModel
@{
<div class="container">

    <h2>Add new Commodity</h2>

   
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddCommodity">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name please" />
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="Enter price" />
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter short description" />
                    <label asp-for="LongDescription" class="control-label"></label>
                    <input asp-for="LongDescription" class="form-control" placeholder="Enter long description" />
                    <label asp-for="QuantityInStorage" class="control-label"></label>
                    <input asp-for="QuantityInStorage" class="form-control" placeholder="Enter quantity" />

                </div>
                <div class="form-group">
                    <input type="submit" value="AddCommodity" class="btn btn-success" />
                    <a class="btn btn-primary" asp-action="Index"><em class="glyphicon glyphicon-arrow-left"></em> Back to List</a>
                </div>
            </form>
        </div>
    </div>

</div>

}
