@using Model.ViewModels.CommodityViewModels;
@model IEnumerable<CommodityViewModel>
@{
<div class="container">

    <h1>Your commodity list</h1>
    <p>
        <a class="btn btn-success" asp-action="AddCommodity"><em class="glyphicon glyphicon-plus"></em>Add</a>
    </p>
    <p>
        <a class="btn btn-success" asp-action="Delete"><em class="glyphicon glyphicon-plus"></em>Delete</a>
    </p>


</div>


}
